.bottomContent_wrapper h2 {
    margin: 1rem 0;
    margin-left: 3%;
}

.bottom_content {
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 2rem;
}

.bottom_content div {
    width: 28%;
}

.bottom_content div img {
    width: 100%;
    height: 15rem;
}

.bottom_content div h3 {
    margin-top: 1rem;
}

.bottom_content div p {
    margin-top: 0.5rem;
}

/* media screen for mobile */

@media screen and (max-width:480px) {
    .bottom_content {
        row-gap: 0;
    }

    .bottom_content div {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding: 2rem 0;
        border-bottom: 1px rgb(207, 201, 201) solid;

    }

    .bottom_content div img {
        width: 11rem;
        height: 7rem;
    }

    .bottom_content div figure {
        padding-right: 1rem;
    }

}