.login_wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 100%;
}

.login_inner_wrapper {
    width: 30vw;
    height: 70vh;
    background-color: pink;
    border-radius: 1rem;
}

.login_inner_wrapper h2 {
    text-align: center;
    margin-top: 25%;
    margin-bottom: 1rem;
}

.login_inner_wrapper>p {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}



.login_inner_wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_inner_wrapper form input {
    width: 80%;
    height: 2.2rem;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    border-radius: 0.3rem;
    border: 1px rgb(132, 129, 129) solid;
}